@using BlazorProducts.Client.Services

@inject NavigationManager Navigation
@inject AuthService AuthService
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @*  <div class="top-row px-4">
        <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div> *@
        @if (AuthService.IsLoggedIn)
        {
            <div class="top-row px-4">
                <button class="btn btn-danger mt-2 mb-2" @onclick="Logout">Logout</button>
            </div>
        }

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code {
    protected override void OnInitialized()
    {
    }
    void Logout()
    {
        AuthService.Logout();
        Navigation.NavigateTo("/");
    }
}
