
 @page "/"
@layout Layout.PublicLayout

<div class="text-center">
    <h1>Welcome to BlazorStaticApp</h1>
    <p>This is a static Blazor WebAssembly demo app with login & dashboard flow.</p>
    <NavLink class="btn btn-primary m-2" href="/login">Login</NavLink>
    <NavLink class="btn btn-success m-2" href="/register">Register</NavLink>
</div>
