
@page "/"
@layout Layout.PublicLayout

<div class="text-center">
    <h1>Welcome</h1>
    <p>Organize, Track, and Grow — Smarter Product Management for Better Business.</p>
    <NavLink class="btn btn-primary m-2" href="/login">Login</NavLink>
    <NavLink class="btn btn-success m-2" href="/register">Register</NavLink>
</div>
