<section>
    <select class="form-control" @onchange="ApplySort">
        <option value="-1">- Sort By -</option>
        <option value="name">Name</option>
        <option value="price">Price</option>
        <option value="price desc">Price DESC</option>
    </select>
</section>

@code{
    [Parameter]
    public EventCallback<string> OnSortChanged { get; set; }

    private async Task ApplySort(ChangeEventArgs e)
    {
        var selectedValue = e.Value?.ToString();
        if (!string.IsNullOrEmpty(selectedValue) && selectedValue != "-1")
        {
            await OnSortChanged.InvokeAsync(selectedValue);
        }
    }
}